@use "mixin";
@use "const";

* {
  color: const.$fontBlack;
  letter-spacing: 1px;
  line-height: 1.8;
  // font-size: 16px;
  // @include mixin.sp-screen() {
  //   font-size: 3.5vw;
  // }
}
body {
  background-color: const.$backGray;
  font-family: verdana,arial;
  @include mixin.sp-screen() {
    background-color: const.$mainWhite;
  }
}
a {
  border-bottom: 1px dashed const.$anchorBlue;
  color: const.$anchorBlue;
  text-decoration: none;
  padding-bottom: 2px;
  transition: color .2s, background .2s, border .2s;

  &.img_anchor {
    border: none;
    padding: 0;
  }
}

a:hover {
  background-color: const.$anchorBlue;
  color: const.$mainWhite;

  &.img_anchor {
    background-color: const.$mainWhite;
    padding: 0;
  }
}
img[usemap] {
  height: auto;
  max-width: 100%;
  width: auto;
}
blockquote {
  background-color: const.$backGray;
  border-radius: 10px;
  border: 1px solid const.$borderGray;
  font-style: italic;
  margin: 12px 0;
  padding: 12px;
}
li {
  list-style: none;
}
h1 {
  font-size: 28px;
  @include mixin.sp-screen() {
    font-size: 4.6vw;
  }
}
h2 {
  font-size: 26px;
  @include mixin.sp-screen() {
    font-size: 4.3vw;
  }

  span {
    font-size: 26px;
    @include mixin.sp-screen() {
      font-size: 4.3vw;
    }
  }
}
h3 {
  font-size: 24px;
  @include mixin.sp-screen() {
    font-size: 4.0vw;
  }

  span {
    font-size: 24px;
    @include mixin.sp-screen() {
      font-size: 4.0vw;
    }
  }
}
h4 {
  font-size: 22px;
  @include mixin.sp-screen() {
    font-size: 3.7vw;
  }

  span {
    font-size: 22px;
    @include mixin.sp-screen() {
      font-size: 3.7vw;
    }
  }
}
// cssクラス
.mt-0 {
  margin-top: 0px !important;
}
.mt-8 {
  @include mixin.pc-screen() {
    margin-top: 8px;
  }
  @include mixin.sp-screen() {
    margin-top: 4px;
  }
}
.mt-12 {
  @include mixin.pc-screen() {
    margin-top: 12px;
  }
  @include mixin.sp-screen() {
    margin-top: 8px;
  }
}
.mt-24 {
  @include mixin.pc-screen() {
    margin-top: 24px;
  }
  @include mixin.sp-screen() {
    margin-top: 16px;
  }
}
.mt-36 {
  @include mixin.pc-screen() {
    margin-top: 36px;
  }
  @include mixin.sp-screen() {
    margin-top: 24px;
  }
}
.mt-48 {
  @include mixin.pc-screen() {
    margin-top: 48px;
  }
  @include mixin.sp-screen() {
    margin-top: 36px;
  }
}
.mr-8 {
  margin-right: 8px;
}
.mb-24 {
  @include mixin.pc-screen() {
    margin-bottom: 24px;
  }
  @include mixin.sp-screen() {
    margin-bottom: 16px;
  }
}
.ml-24 {
  margin-left: 24px;
}
.ml-12 {
  margin-left: 12px;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.p-0 {
  padding: 0 !important;
}
.p-12 {
  @include mixin.pc-screen() {
    padding: 12px;
  }
  @include mixin.sp-screen() {
    padding: 8px;
  }
}
.p-5 {
  padding: 5px;
}
.w-100 {
  width: 100%;
}
.w-60 {
  width: 60%;
}
.sp-w-60 {
  @include mixin.sp-screen() {
    width: 60%;
  }
}
.d-b {
  display: block;
}
.d-f {
  display: flex;

  &.sp_block {
    @include mixin.sp-screen() {
      display: block;
    }
  }
}
.j-sb {
  justify-content: space-between;
}
.j-e {
  justify-content: flex-end;
}
.j-c {
  justify-content: center;
}
.sp-j-c {
  justify-content: center;
}
.ai-c {
  align-items: center;
}
.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.c-p {
  cursor: pointer;
}
.va-b {
  vertical-align: baseline;
}
.of-h {
  overflow: hidden;
}
.f-r {
  float: right;
}
.font_small {
  @include mixin.pc-screen() {
    font-size: 14px;
  }
  @include mixin.sp-screen() {
    font-size: 12px;
  }
}
.font_min {
  font-size: 10px;
}
.pc_display {
  @include mixin.sp-screen() {
    display: none;
  }
}
.sp_display {
  @include mixin.pc-screen() {
    display: none;
  }
}
.h1 {
  @include mixin.pc-screen() {
    font-size: 28px;
  }
  @include mixin.sp-screen() {
    font-size: 4.5vw;
  }
}
.h2 {
  @include mixin.pc-screen() {
    font-size: 26px;
  }
  @include mixin.sp-screen() {
    font-size: 4.0vw;
  }
}
.bb-blue {
  border-bottom: 1px solid const.$LightBlue;
}

// 便利クラス
.inner {
  margin: auto;
  @include mixin.pc-screen() {
    width: 100%;
    min-width: 850px;
    max-width: 1200px;
  }
  @include mixin.sp-screen() {
    width: 100%;
  }

  &.breadcrumbs_inner {
    margin-left: 0;
    width: max-content;
  }
}
.inner_wrapper {
  @include mixin.sp-screen() {
    padding-right: 8px;
    padding-left: 8px;
  }
}
.shadow {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
.border_none {
  border: none;
}
.shadow_hover:hover {
  background-color: const.$anchorHoverBackBlue;
  box-shadow: 0 1px 12px const.$shadowHoverBlue;
  transition: all .1s;
}
.rich_h2 {
  background: #DDDBC5;
  border: solid 5px #005E2D;
  border-left: solid 20px #00372B;
  font-size: 18px;
  padding: 12px 16px;
  @include mixin.sp-screen() {
    padding: 8px;
  }
}
.rich_h3 {
  border-left: 4px solid const.$anchorBlue;
  padding: 4px 12px;
}

.rich_h4 {
  align-items: center;
  display: flex;

  &::after {
    content: " ";
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 10px;
    display: inline-block;
    height: 2px;
    background: const.$LightBlue;
  }
}
.back_blue {
  background-color: const.$backrBlue;
}
.back_cloud_blue {
  background-color: const.$cloudBlue;
}
.back_gray {
  background-color: const.$footerGray;
}
.back_white {
  background-color: const.$mainWhite;
}
.back_orange {
  background-color: const.$mainOrange;
}
.back_yellow {
  background-color: const.$nannkaidou;
}
.color_red {
  color: const.$sideBarRed;
}
.color_gray {
  color: const.$footerFontGray;
}
.color_white {
  color: const.$mainWhite;
}
.color_anchor_blue {
  color: const.$anchorBlue;

  &:hover {
    color: const.$mainWhite;
  }
}
.color_font_black {
  color: const.$fontBlack;
}
.yellow_marker {
  background: linear-gradient(transparent 60%, #ff6 60%);
}
.fw-n {
  font-weight: normal;
}
.fw-b {
  font-weight: bold;
}
.ps {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  @include mixin.sp-screen() {
    top: 58px;
  }
}

// 部品
.samurai_img {
  display: block;
  border: 4px solid const.$mainGold;
}
.livewire_search_area {
  max-width: 300px;
  position: relative;
  @include mixin.sp-screen() {
    margin: 0 2px;
    max-width: 200px;
  }

  .search_form {
    display: flex;

    .search {
      background-color: const.$mainWhite;
      border: 1px solid const.$anchorBlue;
      border-radius: 8px;
      font-size: 14px;
      padding: 4px 8px;
      width: 80%;
      @include mixin.sp-screen() {
        font-size: 12px;
        padding: 2px 4px;
        width: 130px;
      }
    }

    .search_button {
      background-color: const.$anchorBlue;
      border-radius: 8px;
      color: const.$mainWhite;
      font-size: 14px;
      margin-left: 8px;
      width: 75px;
      @include mixin.sp-screen() {
        font-size: 12px;
        width: 55px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .search_ul {
    position: absolute;
    width: 100%;
    z-index: 12;
  
    .search_li {
      border-bottom: 1px solid const.$anchorBlue;
      border-right: 1px solid const.$anchorBlue;
      border-left: 1px solid const.$anchorBlue;
  
      &:first-child {
        border-top: 1px solid const.$anchorBlue;
      }

      .search_anchor {
        align-items: center;
        display: flex;
        border-bottom: none;
        justify-content: space-between;
        padding: 0 8px;
        width: 100%;
      }
    }
  }
}
.card_ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .card_list {
    display: flex;
    flex-direction: column;

    &.wide_card {
      @include mixin.pc-screen() {
        width: 30%;
        margin-right: 5%;

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
      @include mixin.sp-screen() {
        width: 100%;
      }
    }
    &.narrow_card {
      @include mixin.pc-screen() {
        margin-right: 2%;
        width: 48%;

        &:nth-child(2n) {
          margin-left: 2%;
          margin-right: 0;
        }
      }
      @include mixin.sp-screen() {
        width: 100%;
      }
    }

    .card_anchor {
      border: 1px solid const.$borderGray;
      border-radius: 8px;
      display: block;
      flex: 1;
      @include mixin.sp-screen() {
        border-radius: 0;
        box-shadow: inherit;
        // display: flex;
        padding-bottom: 0;
      }

      picture {
        @include mixin.sp-screen() {
          width: 30%;
        }
      }
      .card_image {
        border-radius: 8px 8px 0 0 ;
        height: 200px;
        object-fit: cover;
        @include mixin.sp-screen() {
          border-radius: inherit;
          height: auto;
        }
      }

      .card_bottom {
        @include mixin.pc-screen() {
          padding: 24px;
        }
        @include mixin.sp-screen() {
          padding: 12px;
        }

        .card_info {
          align-items: center;
  
          time {
            font-size: 12px;
            @include mixin.sp-screen() {
              display: block;
            }
          }
  
          .card_category {
            border: 2px solid const.$borderGray;
            border-radius: 20px;
            display: inline;
            font-size: 12px;
            padding: 4px 8px;
          }
        }
        .card_title {
          @include mixin.sp-screen() {
            font-size: 3.5vw;
          }
        }
      }
    }
  }
}
.normal_block_anchor {
  border: 1px solid const.$borderGray;
  border-radius: 8px;
  color: const.$fontBlack;
  padding: 12px;
}
.red_border_box {
  border: 1px solid const.$sideBarRed;
  border-radius: 8px;
  padding: 12px;
}

header {
  border-bottom: 1px solid const.$borderGray;
  box-shadow: 0px 3px 3px -3px rgb(32 33 36 / 28%);
  margin-bottom: 8px;

  h1 {
    padding: 8px 0;

    .h1_anchor {
      display: flex;
      width: 240px;
    }

    .logo {
      display: block;
      line-height: normal;
    }
  }

  nav {

    .header_nav_list {
      border-left: 1px solid const.$borderGray;
      position: relative;
      transition: all .3s;
      width: 20%;

      &:last-child {
        border-right: 1px solid const.$borderGray;
      }

      &:hover {

        .dropdown_ul {
          visibility: visible;
          opacity: 1;
        }
      }
  
      .dropdown_ul {
        visibility: hidden;
        opacity: 0;
        width: 100%;
        position: absolute;
        z-index: 1;
  
        .dropdown_li {
          border-top: 1px solid const.$borderGray;
          position: relative;
          &:last-child {
            border-bottom: 1px solid const.$borderGray;
          }
  
          &:not(:first-child)::before{
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            top: 0;
            left: 0;
          }
  
          .dropdown_anchor {
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 8px 16px;
            position: relative;
          }
        }
      }

      .header_nav_anchor {
        border-bottom: none;
        display: block;
        padding: 8px 16px;
        transition: all .3s;
      }
    }
  }

  .today_text {
    @include mixin.pc-screen() {
      width: 150px;
    }
    @include mixin.sp-screen() {
      width: 30vw;
    }
  }
  .text_slider {
    overflow: hidden;
    @include mixin.pc-screen() {
      width: calc(100% - 150px);
    }
    @include mixin.sp-screen() {
      width: calc(100% - 30vw);
    }
  
      .text_slider_ul {
        display: flex;
        list-style: none;
        animation :infinity-scroll-left 25s infinite linear 0.5s both;
    
        .text_slider_li {
          border-right: 1px dashed const.$sideBarOceanBlue;
          margin-right: 12px;
          padding-right: 12px;
          white-space: nowrap
        }
    }
  }
  @keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  #sp-slide-header {
    border-bottom: 2px solid const.$LightBlue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: .3s;
    transform: translateY(-100%);
    width: 100%;
    @include mixin.pc-screen() {
      display: none;
    }

    &.active {
      transform: translateY(0);
    }

    .openbtn {
      position: relative;
      background:const.$LightBlue;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 5px;

      .border {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 11px;
        height: 3px;
        border-radius: 2px;
        background: const.$mainWhite;
        width: 45%;

        &:nth-of-type(1) {
          top: 11px; 
        }
        &:nth-of-type(2) {
          top: 19px;
        }
        &:nth-of-type(3) {
          top: 27px;
        }
      }

      &.active {

        .border {

          &:nth-of-type(1) {
            top: 13px;
            left: 14px;
            transform: translateY(6px) rotate(-45deg);
            width: 30%;
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            top: 25px;
            left: 14px;
            transform: translateY(-6px) rotate(45deg);
            width: 30%;
          }
        }
      }
    }

    #sp-humberger-overlay {
      background: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      display: none;
      height: 94vh;
      left: 0;
      overflow: scroll;
      position: fixed;
      top: 58px;
      transition: .3s;
      width: 100%;
      z-index: 5;

      &.active {
        display: block;
      }

      .menu {
        width: 80%;

        .side_bar {
          margin-top: 0;

          .livewire_search_area {
            display: none;
          }

          .side_bar_contents {
            border-radius: 0;
            margin-top: 0;

            &.diagnose_test {
              background-color: const.$mainWhite;
              padding: 24px 0;
            }

            h2 {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
.breadcrumbs {
  border-top: 1px dashed const.$borderGray;
  overflow: scroll;

  .breadcrumb {
    display: flex;
    padding-top: 8px;
  
    .breadcrumb-item {
      margin-right: 10px;
      min-width: fit-content;
  
      &:before {
        content: ">";
        margin-left: 4px;
        margin-right: 4px;
      }
  
      &:first-child {
        &:before {
          content: none;
        }
      }

      .breadcrumb_anchor {
        border-bottom: none;
        padding: 0;

        .breadcrumb_span {
          border-bottom: 1px dashed const.$anchorBlue;
          color: const.$anchorBlue;
          padding-bottom: 2px;
          transition: color 0.2s, background 0.2s, border 0.2s;
  
          &:hover {
            color: const.$mainWhite;
            background-color: const.$anchorBlue;
          }
        }
      }
    }
  }
}
.function_area {
  background-color: const.$backrBlue;
  border-radius: 8px 0 0 8px;
  bottom: 30px;
  cursor: pointer;
  right: 0;
  padding: 8px;
  position: fixed;
  .old_country_name_area,.page_top {
    scroll-behavior: inherit;
 
    &:hover {
      opacity: 0.6;
    }
  }
}

.overlay_back {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.overlay_content {
  border-radius: 8px;
  display: none;
  left: 50%;
  margin: auto;
  padding: 8px;
  position: fixed;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  top: 50%;
  z-index: 10;
  @include mixin.pc-screen() {
    width: 60%;
  }
  @include mixin.sp-screen() {
    width: 96%;
  }

  #close {
    cursor: pointer;
  }

  .old_country_data {
    position: absolute;

    .old_country_tr {
      display: none;
    }
  }

  #old-country-color {
    @include mixin.sp-screen() {
      margin-top: 70px;
    }
  }

  .old_country_ul {
    flex-wrap: wrap;

    .old_country_li {
      padding: 0 8px;

      &::before {
        content: "■";
        height: 10px;
        width: 10px;
      }

      &.touzandou {
        &::before {
          color: const.$touzandou;
        }
      }
      &.hokurikudou {
        &::before {
          color: const.$hokurikudou;
        }
      }
      &.toukaidou {
        &::before {
          color: const.$toukaidou;
        }
      }
      &.kinai {
        &::before {
          color: const.$kinai;
        }
      }
      &.sanninndou {
        &::before {
          color: const.$sanninndou;
        }
      }
      &.sannyoudou {
        &::before {
          color: const.$sannyoudou;
        }
      }
      &.nannkaidou {
        &::before {
          color: const.$nannkaidou;
        }
      }
      &.seikaidou {
        &::before {
          color: const.$seikaidou;
        }
      }
    }
  }
}
.old_country_name_list_area {
  display: none;
  flex-wrap: wrap;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  z-index: 10;
  width: 15%;
  @include mixin.pc-screen() {
    right: 0;
    top: 0;
  }
  @include mixin.sp-screen() {
    bottom: 0;
    height: auto;
    left: 0;
    width: max-content;
  }

  .sp_old_country_name_list_area {
    @include mixin.sp-screen() {
      display: flex;
      overflow-x: scroll;
      width: 100vw;
    }
  }

  .old_country_name_list {
    display: block;
    border-bottom: 1px dashed const.$anchorBlue;
    cursor: pointer;
    overflow: scroll;
    padding: 4px;
    @include mixin.sp-screen() {
      border-bottom: none;
      border-right: 1px dashed const.$anchorBlue;
      min-width: 60px;
    }

    &::before {
      content: "■";
      height: 10px;
      width: 10px;
    }
    &:hover {
      background-color: const.$anchorBlue;
      color: const.$mainWhite;
    }

    &.touzandou {
      &::before {
        color: const.$touzandou;
      }
    }
    &.hokurikudou {
      &::before {
        color: const.$hokurikudou;
      }
    }
    &.toukaidou {
      &::before {
        color: const.$toukaidou;
      }
    }
    &.kinai {
      &::before {
        color: const.$kinai;
      }
    }
    &.sanninndou {
      &::before {
        color: const.$sanninndou;
      }
    }
    &.sannyoudou {
      &::before {
        color: const.$sannyoudou;
      }
    }
    &.nannkaidou {
      &::before {
        color: const.$nannkaidou;
      }
    }
    &.seikaidou {
      &::before {
        color: const.$seikaidou;
      }
    }
  }
}
footer {
  background-color: const.$footerGray;
  padding: 36px 0 60px;

  .inner {
    color: const.$footerFontGray;

    .footer_ul {
      border-top: 1px solid const.$footerFontGray;
      border-bottom: 1px solid const.$footerFontGray;
      display: flex;
      justify-content: center;
      padding: 8px 0;
      @include mixin.sp-screen() {
        display: block;
      }

      .footer_li {
        border-right: 1px solid const.$footerFontGray;
        color: const.$footerFontGray;
        font-size: 14px;
        padding: 0 24px;

        &:last-child {
          border: none;
        }

        .footer_anchor {
          border: none;
          @include mixin.sp-screen() {
            display: block;
            padding: 8px;
          }
        }
      }
    }

    .copy_right {
      color: const.$footerFontGray;
      text-align: center;
    }

    nav {
      justify-content: flex-sltart;
      margin: 24px auto 0;
      width: 80%;
      @include mixin.pc-screen() {
        display: flex;
      }
      @include mixin.sp-screen() {
        display: block;
      }
    }
  }
}