@use "mixin";
@use "const";

.left_label {
  width: 30%;
}
.right_input {
  width: 70%;
}
input {
  @include mixin.pc-screen() {
    width: 50%;
  }
  @include mixin.sp-screen() {
    width: 100%;
  }
}
textarea {
  width: 100%;
}
