@use "mixin";
@use "const";

.diagnose_button {
  background-color: const.$anchorBlue;
  border-radius: 8px;
  color: const.$mainWhite;
  display: block;
  font-size: 24px;
  margin: auto;
  padding: 12px 18px;
  text-align: center;
  @include mixin.pc-screen() {
    width: 60%;
  }
  @include mixin.sp-screen() {
    width: 100%;
  }

  &:hover {
    opacity: 0.8;
  }
}
th, td, tr {
  border: none;
}
.diagnose_table {

  tbody {

    tr {

      td {
        width: 20%;
      }
    }
  }
}

#diagnose-form {
  @include mixin.pc-screen() {
    margin: auto;
    width: 80%;
  }
  @include mixin.sp-screen() {
    width: 100%;
  }

  @keyframes radio-select {
    0% {
      transform: scale(0,0);
    }
    65% {
      transform: scale(1.1,1.1);
    }
    100% {
      transform: scale(1,1);
    }
  }

  label {
    position: relative;
    cursor: pointer;
  }

  input {
    opacity: 0;
    z-index: -1; 
    &:checked {
      + .outside .inside {
        animation: radio-select 0.1s linear;
        transform: scale(1,1);
      }
    }
  }

  .outside {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 2px solid const.$borderGray;
    border-radius: 50%;
    box-sizing: border-box;
    background: const.$cloudBlue;
    top: 50%;
  }

  .inside {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: const.$shadowHoverBlue;
    left: 3px;
    top: 3px;
    transform: scale(0,0);
  }
}

.submit_button {
  background-color: const.$submitGreen;
  border-radius: 0.3rem;
  border-bottom: none;
  color: const.$mainWhite;
  line-height: 1;
  padding: 12px 16px;

  &:hover {
    background-color: #21a240;
    border-color: #1e983b;
  }
}



.btn {
  font-weight: bold;
  padding: 12px 16px;
  color: const.$mainWhite;
  border-style: none;
  border-radius: 5px;

  &.btn_tw {
    background-color: const.$twitterBlue;
  }
  &.btn_fb {
    background-color: const.$facebookBlue;
  }
  &:hover {
    opacity: 0.8;
  }

  .fab {
    color: const.$mainWhite;
    margin-right: 4px;
  }
}

._2tga {

  ._8j9w {

    ._8f1i {
      padding: 12px 16px;
    }
  }
}