@use "mixin";
@use "const";
input, textarea, select {
  border: solid 1px const.$borderGray;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 12px;
}
.next_button {
  background-color: const.$anchorBlue;
  border-radius: 0.3rem;
  border-bottom: none;
  color: const.$mainWhite;
  margin-right: 12px;
  padding: 12px 16px;

  &:hover {
    background-color: const.$mainWhite;
    border: 1px solid const.$anchorBlue;
    color: const.$anchorBlue;
  }
}
.submit_button {
  background-color: const.$submitGreen;
  border-radius: 0.3rem;
  border-bottom: none;
  color: const.$mainWhite;
  line-height: 1;
  margin-right: 12px;
  padding: 12px 16px;

  &:hover {
    background-color: #21a240;
    border-color: #1e983b;
  }
}
.cancel_button {
  border: 1px solid const.$borderGray;
  border-radius: 0.3rem;
  display: inline-block;
  padding: 8px 12px;
}
.text-danger {
  color: const.$sideBarRed;
  margin-top: 12px;
}
.narrow_input {
  width: 80px;
}

.samurai_form_wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .samurai_form_content {
    width: 50%;
  }
}