@use "mixin";
@use "const";
.search_area {
  width: 100%;
  margin: 20px 0;
  padding: 0;
  position: sticky;
  top: -1px;
  z-index: 0;
  @include mixin.sp-screen() {
    top: 58px;
  }

  .kana_ul {
    background-color: const.$anchorHoverBackBlue;
    border-bottom: 1px solid const.$borderGray;
    padding-top: 12px;
    @include mixin.pc-screen() {
      flex-wrap: wrap;
      padding-left: 16px;
    }
    @include mixin.sp-screen() {
      overflow-x: scroll;
      overflow-y: hidden;
      padding-left: 12px;
    }
  
    .kana_list {
      margin-bottom: -1px;
      @include mixin.pc-screen() {
        margin-right: 8px;
      }
      @include mixin.sp-screen() {
        margin-right: 6px;
      }
  
      .kana_anchor {
        border-bottom: none;
        display: block;
        line-height: 1.0;
        padding: 10px 12px 12px;
  
        &:hover {
          background-color: inherit;
          border: 1px solid const.$borderGray;
          border-bottom-style: none;
          color: const.$anchorBlue;
          padding: 9px 11px 11px;
          transition: inherit;
        }
  
        &.active {
          background-color: const.$mainWhite;
          border-top: 2px solid const.$anchorBlue;
          color: const.$fontBlack;
          cursor: inherit;
          padding-top: 8px;
          pointer-events: none;
  
          &:hover {
            background-color: inherit;
            display: block;
            line-height: 1.0;
          }
        }
      }
    }
  }
  .shiin {
    background-color: const.$mainWhite;
    padding-left: 16px;
    padding-bottom: 8px;
  
    .shiin_li {
      display: none;
      margin-right: 6px;
  
      &.main {
        display: block;
      }
  
      .shiin_anchor {
        display: block;
        border: 1px solid const.$borderGray;
        line-height: 1.0;
        padding: 10px;
  
        &.active {
          background-color: const.$anchorBlue;
          color: const.$mainWhite;
        }
      }
    }
  }  
}

.samurai_ul {

  &.simple {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 640px;
    overflow: scroll;

    .samurai_li {
      width: 30%;
    }
  }

  .samurai_li {
    display: none;

    &.active {
      display: block;
    }

    .samurai_anchor {
      align-items: center;
      display: flex;
      padding: 8px;

      &:hover {
        color: const.$mainWhite;

        // うまくいかん
        .hover_white {
          color: const.$mainWhite;
        }
      }

      .text_area {
        padding: 0 12px;
      }
    }
  }
}

.parameter_img_area {
  @include mixin.sp-screen() {
    flex-direction: column-reverse;
    width: 100%;
  }

  .parameter_table {
    height: fit-content;
    @include mixin.pc-screen() {
      width: 50%;
    }
    @include mixin.sp-screen() {
      margin-top: 8px;
      width: 100%;
    }
  }
  .samurai_img_area {
    @include mixin.pc-screen() {
      width: 50%;
    }
    @include mixin.sp-screen() {
      margin-top: 8px;
      width: 100%;
    }

    #slider {
      display: flex;
      margin-bottom: 0;
      width: 100%;

      .slick-list {
        cursor: pointer;
      }
    }
  
    .samurai_img {
      margin: auto;
    }
    .hadou_img {
      height: 90%;
      object-fit: cover;
    }
  }
}
.info_icon {
  cursor: pointer;
  position: relative;
  vertical-align: middle;

  &:hover {
    .baloon_text_block {
      display: block;
      z-index: 1;
    }
  }

  .baloon_text_block {
    position: absolute;
    display: none;
    top: -10px;
    left: -46px;
    transform: translateY(-100%);
    width: inherit;

    &.positon_center {
      left: inherit;
      transform: translate(-50%, -100%);
    }

    .baloon_text {
      background-color: const.$mainWhite;
      font-weight: normal;
      width: max-content;

      @include mixin.sp-screen() {
        font-size: 2.5vw;
        padding: 1vw !important;
      }
    }
  }
}
.add_img {
  display: none;
}
.title_box {

  .title_li {
    margin-right: 8px;

    .title_anchor {
      padding: 6px;

      &.active {
        background-color: const.$cloudBlue;
        border-color: const.$LightBlue;
        pointer-events: none;
      }

      .title_img {
        display: block;
        margin: auto;
      }
  
      .title_text {
        line-height: 1.0;
      }
    }
  }
}