@use "mixin";
@use "const";
// 目次
.table_of_contents_area {
  border: 1px solid const.$borderGray;
  background-color: const.$LightOrange;
  padding: 12px;

  @include mixin.sp-screen() {
    font-size: 3.5vw;
  }

  .table_of_contents_title {

    &::before {
      content: "";
      background-image:  url('./../../public/img/common/toc.png');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
      height: 18px;
      margin-right: 8px;
      vertical-align: text-bottom;
      width: 18px;
    }
  }

  .toc_contents {
    display: none;
    &.active {
      display: block;
    }

    .table_of_contents_ol {
      padding-inline-start: 40px;
  
      .table_of_contents_list {
        list-style: none !important;
      }
    }
  }
}


.single_contents {
  @include mixin.pc-screen() {
    display: flex;
  }

  .wide_contents {
    background-color: const.$mainWhite;
    width: 100%;
  }

  .left_contents {
    background-color: const.$mainWhite;
    padding: 8px; //一旦これで
    @include mixin.pc-screen() {
      margin: 0 2%;
      width: 60%;
    }

    .article_contents {

      @include mixin.sp-screen() {
        font-size: 3.5vw;
      }

      .calender {
        margin-left: 8px;
      }
      .reflesh_icon {
        margin-left: 12px;
      }
      h1 {
        @include mixin.sp-screen() {
          font-size: 4.5vw;
        }
      }

      .category_ul {
        flex-wrap: wrap;

        .category_li {
          margin-top: 8px;

          .category_anchor {
            border: 1px solid const.$borderGray;
            color: const.$fontBlack;
            display: block;
            font-size: 14px;
            margin-right: 12px;
            padding: 4px;
            @include mixin.sp-screen() {
              font-size: 3vw;
            }
          }
        }
      }

      .main_visual {
        width: 100%;
      }

      .article_body {

        h2 {
          background: const.$cloudBlue;
          border-left: 8px solid const.$LightBlue;
          line-height: 1.5;
          margin-top: 60px;
          margin-bottom: 20px;
          @include mixin.pc-screen() {
            padding: 12px;
          }
          @include mixin.sp-screen() {
            font-size: 4.2vw;
            padding: 8px;
          }
        }

        h3 {
          border-left: 8px solid const.$LightBlue;
          font-weight: 600;
          margin-top: 40px;
          margin-bottom: 20px;
          padding: 4px 12px;
          @include mixin.sp-screen() {
            font-size: 5vw;
          }
        }

        h4 {
          border-bottom: 2px dashed const.$LightBlue;
          font-size: 20px;
          margin-top: 28px;
          margin-bottom: 16px;
          padding: 8px;
          @include mixin.sp-screen() {
            font-size: 4.5vw;
          }
        }

        p {
          line-height: 1.9;
          @include mixin.sp-screen() {
            font-size: 3.5vw;
          }

          &+p {
            margin-top: 1.5em;
          }
        }

        img {
          display: block;
          @include mixin.pc-screen() {
            margin: 24px 0;
          }
          @include mixin.sp-screen() {
            margin: 16px 0;
          }
        }

        ul {
          background-color: const.$cloudBlue;
          border-radius: 8px;
          margin-top: 24px;
          margin-bottom: 12px;
          padding: 8px 8px 8px 28px;

          li {
            list-style: disc;
          }
        }

        .retuden {
          background-color: const.$cloudBlue;
          margin: 2.2em 0;
          padding: 1em 12px;
        }
      }
      .relate_article {
        border: 1px solid const.$borderGray;
        padding: 12px;

        .relate_article_img_block {
          width: 20%;

          .relate_article_img {
            display: block;
            margin: 0;
          }
        }

        .relate_article_description_block {
          padding: 0 12px;
          width: 80%;

          .relate_article_title {
            color: const.$anchorBlue;
          }
          .relate_article_description {
            margin-top: 8px;
          }
        }
      }

      .baloon_img {
        text-align: center;
        width: 18%;

        .taka_img {
          border-radius: 50%;
          margin-bottom: 0;
        }
      }
      .baloon_text_block {
        padding-left: 16px;
        width: 80%;

        .baloon_text {
          border: 3px solid const.$borderGray;
          border-radius: 5px;
          padding: 12px;
          position: relative;

          &:before {
            border-right: 8px solid const.$borderGray;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;
            content: "";
            left: -11px;
            position: absolute;
            top: 14px;
          }

          &:after {
            border-right: 10px solid const.$mainWhite;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;
            content: "";
            left: -7px;
            position: absolute;
            top: 14px;
          }

          &.top_ballon {

            &:before {
              border-top: 8px solid const.$borderGray;
              border-right: 8px solid transparent;
              border-bottom: 8px solid transparent;
              border-left: 8px solid transparent;
              top: inherit;
              left: 41px;
              bottom: -17px;
            }

            &:after {
              border-top: 8px solid const.$mainWhite;
              border-right: 8px solid transparent;
              border-bottom: 8px solid transparent;
              border-left: 8px solid transparent;
              top: inherit;
              left: 41px;
              bottom: -14px;
            }
          }
        }
      }
      .tips {
        background-color: const.$cloudYellow;
        margin: 12px 0 24px;
        padding: 12px 18px;

        .tips_title {
          align-items: center;
          color: const.$mainOrange;
          display: flex;
          font-size: 22px;
          font-weight: bold;
          margin-top: 0;
        }

        .fa-lightbulb {
          align-items: center;
          background-color: const.$mainOrange;
          border-radius: 50%;
          color: const.$mainWhite;
          display: flex;
          height: 30px;
          margin-right: 4px;
          padding: 8px;
          text-align: center;
          width: 30px;
        }

        .tips_body {
          margin-top: 12px;
        }
      }
    }
  }

  .side_bar {
    height: fit-content;

    @include mixin.pc-screen() {
      width: 18%;
    }
    @include mixin.sp-screen() {
      margin-top: 36px;
    }

    .back_blue {
      background: const.$sideBarBlue;
      color: #fff;
    }

    .back_red {
      background: const.$sideBarRed;
      color: #fff;
    }

    .back_green {
      background: const.$sideBarGreen;
      color: #fff;
    }

    .back_orange {
      background: const.$sideBarOrange;
      color: #fff;
    }

    .back_ocean_blue {
      background: const.$sideBarOceanBlue;
      color: #fff;
    }

    .side_bar_contents {
      background-color: const.$mainWhite;
      border-radius: 8px;
    }

    .game_title_block {
      background-color: const.$mainWhite;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: 12px;

      .game_title_ul {
        background-color: const.$anchorHoverBackBlue;
        border-bottom: 1px solid const.$borderGray;
        padding: 8px 8px 0;
        width: max-content;

        .game_title_list {
          margin-right: 8px;
          margin-bottom: -1px;
  
          .game_title_anchor {
            border-bottom: none;
            line-height: 1;
            padding: 10px 12px 12px;
            width: max-content;

  
            &:hover {
              background-color: inherit;
              border: 1px solid const.$borderGray;
              border-bottom-style: none;
              color: const.$anchorBlue;
              padding: 9px 11px 11px;
              transition: inherit;
            }
  
            &.active {
              background-color: const.$mainWhite;
              border-top: 2px solid const.$anchorBlue;
              color: const.$fontBlack;
              cursor: inherit;
              padding-top: 8px;
              pointer-events: none;
  
              &:hover {
                background-color: inherit;
                display: block;
                line-height: 1.0;
              }
            }
          }
        }  
      }
    }

    .section {
      padding-bottom: 12px;
    
      h2 {
        border-radius: 8px 8px 0 0;
        margin: 0;
        padding: 10px 15px;
        @include mixin.pc-screen() {
          font-size: 14px;
        }
        @include mixin.sp-screen() {
          font-size: 12px;
        }
      }

      .profile_img_area {
        margin: auto;
        width: 50%;

        .profile_img {
          border-radius: 50%;
        }
      }
      .side_bar_title {
        border-bottom: 1px solid const.$borderGray;
        border-left: 2px solid const.$LightBlue;
        padding: 5px;
      }

      .side_bar_section_ul {
        padding: 5px;

        .side_bar_section_li {

          &.child {
            margin-left: 12px;
          }

          &.prefecture {
            display: none;
            transition: 0.7s;

            &.active {
              display: block;
            }
          }

          .side_bar_section_link {
            font-size: 14px;
            padding: 5px;
            width: 100%;

            &.prefectures {
              align-items: center;
              cursor: pointer;
              display: flex;
              justify-content: space-between;
            }

            .anchor_text {
              color: const.$anchorBlue;
            }

            .category_arrow {

              &::before {
                content: "▼";
              }

              &.active::before {
                content: "▲";
              }
            }

            &.hover_blue:hover {
              background: const.$sideBarBlue;

              .anchor_text {
                color: const.$mainWhite;
              }
            }
            &.hover_red:hover {
              background: const.$sideBarRed;

              .anchor_text {
                color: const.$mainWhite;
              }
            }
            &.hover_green:hover {
              background: const.$sideBarGreen;

              .anchor_text {
                color: const.$mainWhite;
              }
            }
            &.hover_orange:hover {
              background: const.$sideBarOrange;

              .anchor_text {
                color: const.$mainWhite;
              }
            }
            &.hover_ocean_blue:hover {
              background: const.$sideBarOceanBlue;

              .anchor_text {
                color: const.$mainWhite;
              }
            }
          }
        }
      }

      .next_area {
        padding: 5px;
        text-align: center;
      }
    }
    .bottom_ad {
      padding-top: 8px;
      position: sticky;
      top: 0;
    }
  }
}
.author_area {
  align-items: center;
  border: 1px solid const.$borderGray;
  padding: 12px;

  .author_img_area {
    width: 20%;

    .profile_img {
      display: block;
    }
  }

  .author_text {
    padding: 4px 18px;
    width: 80%;

    .author {
      font-size: 20px;
    }
    .author_description {
      font-size: 14px;
    }
  }
}
.war_samurai {
  p {
    line-height: 2.5;

    &+p {
      margin-top: 1.5em;
    }
  }
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  .page-item {
    margin: 4px 2px 0;

    &.active {

      .page-link {
        background-color: const.$cloudBlue;
      }
    }
    &.disabled {
      display: none;
    }

    .page-link {
      border: 1px solid const.$borderGray;
      display: block;
      line-height: 1.0;
      padding: 8px;
    }
  }
}