@use "mixin";
@use "const";

table {
  border-collapse: collapse;

  th {
    background-color: const.$LightBlue;
    color: const.$mainWhite;
    padding: 5px 4px;
  }

  td {
    padding: 5px 4px;

    .status_bar {
      background-color: const.$sideBarRed;
      display: inline-block;
      height: 10px;
      margin-right: 12px;
    }
  }
}
th, td, tr {
  border: 1px solid const.$sideBarBlue;
}
#sort-table {
  @include mixin.sp-screen() {
    font-size: 2.6vw;
  }

  thead {
    position: sticky;
    top: -2px;

    .sort_tr {
      width: 100%;
      margin: 20px 0;
      padding: 0;
      position: -webkit-sticky;
      position: sticky;
      top: -1px;
      z-index: 0;

      @include mixin.sp-screen() {
        top: 56px;
      }
    }

    .sort_th {

      &:after {
        content: "▼";
        color: const.$borderGray;
        margin-left: 8px;
        text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF, 0-1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
      }

      &.asc {

        &:after {
          content: "▼";
          color: const.$sideBarRed;
        }
      }

      &.desc {

        &:after {
          content: "▲";
          color: const.$sideBarBlue;
        }
      }
    }
  }

  .samurai_tr {

    &.active {
      border: 3px solid const.$sideBarRed;
    }
  }
}
