@use "mixin";
@use "const";

.main_visual {
  position: relative;
  @include mixin.sp-screen() {
    margin-top: 12px;
  }

  .main_title {
    background-color: rgba(0,0,0,0.5);
    color: const.$mainWhite;
    font-size: 16px;
    right: 0;
    padding: 5px;
    position: absolute;
    @include mixin.pc-screen() {
      top: 0;
    }
    @include mixin.sp-screen() {
      top: 0;
    }
  }
}
.top_contents {
  @include mixin.pc-screen() {
    display: flex;
  }
  @include mixin.sp-screen() {
    display: block;
  }
}
.top_left_contents {
  @include mixin.pc-screen() {
    margin-right: 4%;
    width: 62%;
  }
  @include mixin.sp-screen() {
    width: 100%;
  }

  .main_contents {
    background-color: const.$mainWhite;
  
    h2 {
      font-size: 18px;
    }

    .main_contents_ul {
      display: flex;
      flex-wrap: wrap;

      .main_contents_li {
        width: 48%;
        &:nth-child(2n-1) {
          margin-right: 2%;
        }
        &:nth-child(2n) {
          margin-left: 2%;
        }

        .main_contents_anchor {
          border: 1px solid const.$borderGray;
          border-radius: 8px;
          color: const.$fontBlack;
          padding: 12px;
          width: 100%;

          &:hover {
            background-color: const.$mainWhite;
            color: const.$fontBlack;
          }
        }
      }
    }
  }
}

.top_right_contents {
  @include mixin.pc-screen() {
    width: 34%;
  }
  @include mixin.sp-screen() {
    margin-top: 12px;
    width: 100%;
  }

  .info {
    border-radius: 8px;
    overflow: hidden;
    @include mixin.sp-screen() {
      margin-top: 24px;
    }
  
    h2 {
      border-bottom: 2px solid const.$borderGray;
      font-size: 16px;
      font-weight: normal;
      padding: 8px;
    }
  
    .info_ul {
      height: 500px;
      overflow: scroll;
      padding: 8px 8px 12px 8px;
  
      .info_li {
        border-bottom: 1px solid const.$borderGray;
        padding: 8px 0;
  
        .info_time {
          font-size: 12px;
        }
      }
    }
  }  
}
.sub_contents_ul {
  flex-wrap: wrap;

  .sub_contents_li {
    @include mixin.pc-screen() {
      margin-right: 4%;
      width: 22%;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    @include mixin.sp-screen() {
      margin-right: 4%;
      width: 48%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }


}

@media screen and (min-width: 960px) {

}

@media screen and (max-width: 599px) {
  .top_contents {
    display: block;
  }
}
