@use "mixin";
@use "const";

.join_box {
  cursor: pointer;
  overflow: scroll;

  .join_samurai_box {
    border: 2px dashed const.$LightBlue;
    border-bottom: none;
    padding: 8px;
  
    .join_samurai {
      margin: 0 8px 0 !important;
      min-width: max-content;
    
      img {
        border: 4px solid const.$mainGold;
        margin: 0 auto !important;
      }

      p {
        line-height: 1.8;
      }
    }
  }
  .vs_icon {
    margin: 0 8px;
  }
  .w_or_l {
    .w_or_l_txt {
      color: const.$mainWhite;
    }

    .back_win {
      background-color: const.$sideBarRed;
    }

    .back_lose {
      background-color: const.$sideBarOceanBlue;
    }

    .back_draw {
      background-color: const.$sideBarGreen;
    }
  }
}
